<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Log_File_Path" value="FILE PATH"/>
    <add key="TimeInterval" value="10000"/>
    <add key="Download_Folder" value="DOWNLOAD FOLDER PATH"/>
    <add key="Download_Campaign_Folder" value="Campaign"/>
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="Initial Catalog=Phoenix;Data Source=charliedb.cloudapp.net,9999;Password=I@@I2013;User ID=pocuser" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>