<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Log_File_Path" value="FILE PATH"/>
    <add key="TimeInterval" value="10000"/>
    <add key="Download_Folder" value="DOWNLOAD FOLDER PATH"/>
    <add key="Download_Campaign_Folder" value="Campaign"/>
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="Initial Catalog=APS;Data Source=aps.cijqmf2bbimd.us-east-1.rds.amazonaws.com,1433;Password=Recall123#;User ID=recall" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>