<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Log_File_Path" value="FILE PATH" />
    <add key="TimeInterval" value="10000" />
    <add key="Download_Campaign_Folder" value="Campaign" />
    <add key="Download_Drive_Folder" value="DriveFiles" />

    <add key="Google_ClientId" value="109758991622-93ia6gprirb5creeari1bmnjr1fg8gl7.apps.googleusercontent.com" />
    <add key="Google_Secret" value="bPARQUi7Uu1bn_MOHzQ_J9Ww"/>
    <add key="Google_UserName" value="totalrecallauto@gmail.com"/>    
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="Initial Catalog=APS;Data Source=aps.cijqmf2bbimd.us-east-1.rds.amazonaws.com,1433;Password=Recall123#;User ID=recall" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>